.cafeHorizontal{
	position:relative;
	width:900px;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	/*border:1px solid red;*/
	overflow:hidden;

}

.fixedHeight{
    height:370px;
}

h1{
    font-size:35px;
    color:#8F4700;
}

#cafeInfo{
	color: white;
	height: 130px;
	text-align: center;
	background-color: #5C8A00;
}

.foodCat{
    font-size:30px;
    color:#8F4700;

}



.item{
	float:left;
	/*height:195px;*/
    height:auto;
	width:170px;
	margin-left:25px;
	margin-right:25px;
	margin-bottom:25px;
	border:2px solid black;
	/*overflow:hidden;*/
}

.foodImg{
    /*display:block;
    position:absolute;
    top:25px;
    left:0px;*/
    
	height:145px;
	width:170px;
}

.itemName{
    /*padding-top:2px;
	padding-bottom:3px;*/
	float:left;
	width:80px;
    font-weight:bold;
    color:black;
	/*border:1px solid red;*/
	
    /*background-color:green;*/
}

.price{
    /*padding-top:2px;
	padding-bottom:3px;*/
	float:right;
	width:35px;
    color:#5C8A00;
	/*border:1px solid red;*/
    /*background-color:yellow;*/
}


.type{
    /*padding-top:2px;
	padding-bottom:3px;*/
	width:55px;
    color:#5C8A00;
	/*border:1px solid red;*/
    /*background-color:grey;*/
	
}

.itemFooter{
    /*position:absolute;
    top:170px;
    left:0px;*/
	height:25px;
	width:170px;
	/*border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;*/
    background-color:#5C8A00;
}

.itemHeader{
    /*position:absolute:
    top:0px;
    left:0px;*/
	height:50px;
	width:170px;
    z-index:10;
	/*border:1px solid black;*/
    /*overflow:hidden;*/
}




.tooltip{
    display:none;
    /*position:absolute;*/
    z-index:100;
    /*left:-9999px;*/
    background-color:#dedede;
    /*padding:5px;
    border:1px solid #fff;*/
    width:200px;
    /*height:50px;*/
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}



.cal{
	padding-top:2px;
	padding-bottom:3px;
	float:left;
	width:70px;
	/*border:1px solid red;*/
	text-align:left;
    background-color:#5C8A00;
}

.order{
	padding-top:0px;
	float:left;
	width:100px;
	/*border:1px solid red;*/
	text-align:right;
    background-color:#5C8A00;
}



.cafeTable{
	width:100%;	
	border:1px solid black;
}


.cafeTable td{
	border:1px solid black;
	width:100px;
	padding:5px;
}


.cafeTable caption{
	caption-side:top;
	font-size:18px;
	font-weight:bold;
}

#cafeImg{
	float:right;
}


#personal{
	/*height:190px;*/
}


.horizontalLeft{
	position:relative;
	margin:0px;
	/*left:0px;*/
	/*height:200px;*/
	width: 47%;
	padding:0px;
	/*border:1px solid red;*/
}


.horizontalRight{
	float:right;
	margin-top:0px;
	/*height:200px;*/
	width: 47%;
	padding:0px;
	/*border:1px solid red;*/
    
}


#reviewOrder{
	height: 50px;
}


#order{
	width: 200px;
	height: 40px;
	background-color: #ACD8AC;
	font-weight: bold;
	font-size: 16pt;
	font-weight: bold;
	margin-left:30px;
	margin-top:5px;
	border-radius:10px;
    float:right;
   
    
}