/*********************common******************************/
body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #94C9F5;
}

/********************container****************************/
#container {
	width: 1000px;
	margin: auto;
	height: auto;
	overflow: hidden;
	position: relative;
}

#top {
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
	height: 28px;
}

#middle-container {
	background-image: url(../images/mid.png);
	background-repeat: no-repeat;
	width: 100%;
}
#bot {
	background-image: url(../images/footer.png);
	background-repeat: no-repeat;
	height: 100px;
	padding: 36px 35px 0 35px;
	color: white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#bot a:visited {
	text-decoration: underline;
	color: white;
}

/********************nav*****************************/

#nav {
	height: 77px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -1px;
	background-image: url(../images/navbar.png);
	background-repeat: no-repeat;
}

#logo {
	width: 116px;
	height: 70px;
	position: relative;
}

#menu {
	position: relative;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
	z-index: 1500;
}
#menu ul li a img {
	vertical-align: middle;
}

ul.tabs {
	margin: 0;
	padding: 10;
	list-style: none;
}
ul.tabs li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

/**************middle container*******************/

#middle {
	height: auto;
	padding: 0 35px 0 34px;
	margin: 0px;
}

#slide_holder {
	position: relative;
	background-repeat: no-repeat;
	width: 928px;
	height: 277px;
	overflow: hidden;
	text-align: left;
	z-index: 100;
}
#slide_holder_inner {
	width: 928px;
	width: 277px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 200;
}
#slide_holder_inner div {
	position: absolute;
}
#slide_holder_inner img {
	border: 0px;
}
#row_of_slides {
	position: absolute;
	top: 0;
}

table {
	width: 100%;
	border-spacing: 0px;
	font-family: 'WenQuanYi Micro Hei Mono', 'WenQuanYi Micro Hei', 'Microsoft Yahei Mono', 'Microsoft Yahei', sans-serif;
}

<<<<<<< HEAD

#cafeInfo{
	position:relative;
	left:25px;
	width:900px;
	height: 130px;
	padding:20px;
	text-align: center;
	border:1px solid red;
}

#cafeMenu{
	position:relative;
	left:25px;
	width:900px;
	padding:20px;
	height:750px;
	border:1px solid red;
}


.cafeTable{
	width:100%;	
	border:1px solid black;
}

.cafeTable td{
	border:1px solid black;
	width:100px;
	padding:5px;
}

.cafeTable caption{
	caption-side:top;
	font-size:18px;
	font-weight:bold;
}

#personal{
	position:relative;
	margin-top:25px;
	left:25px;
	height:190px;
	width: 940px;
	padding:0px;
	border:1px solid red;	
}

#budgetTracking{
	position:relative;
	margin:0px;
	left:0px;
	height:150px;
	width: 428px;
	padding:20px;
	border:1px solid red;
}

#nutritionalTracking{
	float:right;
	margin-top:0px;
	height:150px;
	width: 428px;
	padding:20px;
	border:1px solid red;
}

#deliveryOptions{
	position:relative;
	left:25px;
	height:200px;
	width: 428px;
	padding:20px;
	border:1px solid red;
}

#orderDetails{
	float:right;
	height:200px;
	width: 429px;
	margin-right:34px;
	padding:20px;
	border:1px solid red;
}

#reviewOrder{
	position: relative;
	left:25px;
	height: 50px;
	width: 900px;
	padding:20px;
	border:1px solid red;
}
=======
.content {
	padding-top: 5px;
}

>>>>>>> finished the first version of start page
